<%- include("../includes/head.ejs") %>
  <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <%- include("../includes/navigation.ejs") %>
      <main class="main-c">
        <div class="order-container">
          <% if(orders.length < 0) { %>
            <h1>Nothing here yet!</h1>
            <% } else { %>
              <ul>
                <% orders.forEach(order=> { %>

                  <div class="list-container">
                    <li>
                      <div class="order-id">
                        <p>
                          #orderid: &nbsp<%= order._id %>
                        </p>
                      </div>

                      <ul>
                        <% order.products.forEach(p=> { %>
                          <div class="inner-container">
                            <li>
                              <div class="info">
                                <div>
                                  <img src="<%= p.product.imageUrl %>" alt="">
                                </div>
                                <div>
                                  <p>
                                    <%= p.product.title %>
                                  </p>
                                </div>
                                <div>
                                  <p>Quantity: &nbsp;<%= p.quantity%>
                                  </p>
                                  <h4>
                                    ₹&nbsp;<%= p.product.price %>
                                  </h4>
                                </div>
                              </div>



                            </li>
                          </div>

                          <% }); %>
                      </ul>
                    </li>
                  </div>
                  <% }); %>
              </ul>
              <% } %>

                </conatiner>

      </main>
      <%- include("../includes/end.ejs") %>